# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
# .env

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log 

output.json
*.pdf
.env 
.env.example

curl -X POST \
  -H "Authorization: Bearer b23ebd32uiedb3uibd3" \
  -F "resume=C:\Users\Ubaid Abbas\Documents\GitHub\resume-parser\Resume.pdf" \
  http://localhost:5002/api/parse